/*Arquivo CSS*/

nav {
    background: black;
    width: 100%;
    position: relative;
}

footer {
    background-color: black;
    color: white;
    clear: both;
}

section {
    width: 40%;
}

main {
    width: 40%;
    float: left;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

aside {
    width: 60%;
    background-color: yellow;
    float: right;
}

.imgLogo {
    position:absolute;
    top: 1%;
    width: 85%;
}

.slideAju {
    padding-top: 150px; 
    width: 100%; 
    height: 15%;
}
