/*Arquivo CSS*/

nav {
    background: black;
    width: 100%;
    position: relative;
}

footer {
    background-color: black;
    color: white;
    clear: both;
}

section {
    width: 40%;
    color: white;
    font-size: 0.7em;
}

main {
    width: 40%;
    float: left;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}

aside {
    width: 60%;
    float: right;
}

.imgLogo {
    position:absolute;
    top: 1%;
    width: 85%;
}

.carousel-auto {
    padding-top: 130px; 
    width: 100%; 
    height: 15%;
}

.textGrid {
    background: black;
    position: relative;
    width: 100%;
    height: 45px;
    border-radius: 1px;
}

.bgGrid {
    background-color: black;
    position: relative;
    opacity: 75%;
    top: -7%;
    width: 100%;
}

.imgEditores {
    border-radius: 50%;
    width: 100%;
}

#meulink { color: rgb(255, 255, 255); padding-left: 2%; }

#linkRed { color: rgb(255, 0, 0);}

.textCenter {
    text-align: center;
}

@media screen and (max-width:480px) {
    aside {float: none; width: 100%;}
    .imgLogo {position: none; width: 100%;}
    main {width: 100%; float: none;}
    section {width: 100%;}
    .carousel-auto {padding-top: none; width: 100%; height: auto;}
}
